<template name="login">
    <form class="well">
                <span class="texts">Please Log In, or&nbsp;
                    <a href="{{pathFor route='register'}}">Sign Up</a>
                </span>
        <p><input type='text' class="textArea" name='username' value="admin"/></p>
        <p><input type='password' class="textArea" name='password' value="admin"/></p>
        <p>
            <button type="submit" class="btn btn-primary btn-sm" value="Login">
                Login
            </button>
        </p>
    </form>
</template>