<template name="register">
    <form class="well">
                <span class="texts">Please Sign Up, or&nbsp;
                    <a href="{{pathFor route='login'}}">Log In</a>
                </span>
        <p><input type='text' class="textArea" name='username'/></p>
        <p><input type='password' class="textArea" name='password'/></p>
        <p>
            <button type="submit" class="btn btn-primary btn-sm" value="Register">
                Register
            </button>
        </p>
    </form>
</template>